// special color
$transparent: transparent !important;

// basic color
$red: #DB2828 !important;
$orange: #F2711C !important;
$yellow: #FBBD08 !important;
$olive: #B5CC18 !important;
$green: #21BA45 !important;
$teal: #00B5AD !important;
$blue: #2185D0 !important;
$violet: #6435C9 !important;
$purple: #A333C8 !important;
$pink: #E03997 !important;
$brown: #A5673F !important;
$grey: #767676 !important;
$black: #1B1C1D !important;


// light
$light-red: lighten(#DB2828, 5%) !important;
$light-orange: lighten(#F2711C, 5%) !important;
$light-yellow: lighten(#FBBD08, 5%) !important;
$light-olive: lighten(#B5CC18, 5%) !important;
$light-green: lighten(#21BA45, 5%) !important;
$light-teal: lighten(#00B5AD, 5%) !important;
$light-blue: lighten(#2185D0, 5%) !important;
$light-violet: lighten(#6435C9, 5%) !important;
$light-purple: lighten(#A333C8, 5%) !important;
$light-pink: lighten(#E03997, 5%) !important;
$light-brown: lighten(#A5673F, 5%) !important;
$light-grey: lighten(#767676, 5%) !important;
$light-black: lighten(#1B1C1D, 5%) !important;

// lighter
$lighter-red: lighten(#DB2828, 10%) !important;
$lighter-orange: lighten(#F2711C, 10%) !important;
$lighter-yellow: lighten(#FBBD08, 10%) !important;
$lighter-olive: lighten(#B5CC18, 10%) !important;
$lighter-green: lighten(#21BA45, 10%) !important;
$lighter-teal: lighten(#00B5AD, 10%) !important;
$lighter-blue: lighten(#2185D0, 10%) !important;
$lighter-violet: lighten(#6435C9, 10%) !important;
$lighter-purple: lighten(#A333C8, 10%) !important;
$lighter-pink: lighten(#E03997, 10%) !important;
$lighter-brown: lighten(#A5673F, 10%) !important;
$lighter-grey: lighten(#767676, 10%) !important;

// more lighter
$more-lighter-red: lighten(#DB2828, 15%) !important;
$more-lighter-orange: light(#F2711C, 15%) !important;
$more-lighter-yellow: light(#FBBD08, 15%) !important;
$more-lighter-olive: light(#B5CC18, 15%) !important;
$more-lighter-green: light(#21BA45, 15%) !important;
$more-lighter-teal: light(#00B5AD, 15%) !important;
$more-lighter-blue: light(#2185D0, 15%) !important;
$more-lighter-violet: light(#6435C9, 15%) !important;
$more-lighter-purple: light(#A333C8, 15%) !important;
$more-lighter-pink: light(#E03997, 15%) !important;
$more-lighter-brown: light(#A5673F, 15%) !important;
$more-lighter-grey: light(#767676, 15%) !important;
$more-lighter-black: light(#1B1C1D, 15%) !important;

// extra lighter
$extra-lighter-red: lighten(#DB2828, 20%) !important;
$extra-lighter-orange: lighten(#F2711C, 20%) !important;
$extra-lighter-yellow: lighten(#FBBD08, 20%) !important;
$extra-lighter-olive: lighten(#B5CC18, 20%) !important;
$extra-lighter-green: lighten(#21BA45, 20%) !important;
$extra-lighter-teal: lighten(#00B5AD, 20%) !important;
$extra-lighter-blue: lighten(#2185D0, 20%) !important;
$extra-lighter-violet: lighten(#6435C9, 20%) !important;
$extra-lighter-purple: lighten(#A333C8, 20%) !important;
$extra-lighter-pink: lighten(#E03997, 20%) !important;
$extra-lighter-brown: lighten(#A5673F, 20%) !important;
$extra-lighter-grey: lighten(#767676, 20%) !important;

// lightest
$lightest-red: lighten(#DB2828, 25%) !important;
$lightest-orange: lighten(#F2711C, 25) !important;
$lightest-yellow: lighten(#FBBD08, 25) !important;
$lightest-olive: lighten(#B5CC18, 25) !important;
$lightest-green: lighten(#21BA45, 25) !important;
$lightest-teal: lighten(#00B5AD, 25) !important;
$lightest-blue: lighten(#2185D0, 25) !important;
$lightest-violet: lighten(#6435C9, 25) !important;
$lightest-purple: lighten(#A333C8, 25) !important;
$lightest-pink: lighten(#E03997, 25) !important;
$lightest-brown: lighten(#A5673F, 25) !important;
$lightest-grey: lighten(#767676, 25) !important;

// dark
$dark-red: darken(#DB2828, 5%) !important;
$dark-orange: darken(#F2711C, 5%) !important;
$dark-yellow: darken(#FBBD08, 5%) !important;
$dark-olive: darken(#B5CC18, 5%) !important;
$dark-green: darken(#21BA45, 5%) !important;
$dark-teal: darken(#00B5AD, 5%) !important;
$dark-blue: darken(#2185D0, 5%) !important;
$dark-violet: darken(#6435C9, 5%) !important;
$dark-purple: darken(#A333C8, 5%) !important;
$dark-pink: darken(#E03997, 5%) !important;
$dark-brown: darken(#A5673F, 5%) !important;
$dark-grey: darken(#767676, 5%) !important;

// darker
$darker-red: darken(#DB2828, 10%) !important;
$darker-orange: darken(#F2711C, 10%) !important;
$darker-yellow: darken(#FBBD08, 10%) !important;
$darker-olive: darken(#B5CC18, 10%) !important;
$darker-green: darken(#21BA45, 10%) !important;
$darker-teal: darken(#00B5AD, 10%) !important;
$darker-blue: darken(#2185D0, 10%) !important;
$darker-violet: darken(#6435C9, 10%) !important;
$darker-purple: darken(#A333C8, 10%) !important;
$darker-pink: darken(#E03997, 10%) !important;
$darker-brown: darken(#A5673F, 10%) !important;
$darker-grey: darken(#767676, 10%) !important;
$darker-black: darken(#1B1C1D, 10%) !important;

// more darker
$more-darker-red: darken(#DB2828, 15%) !important;
$more-darker-orange: darken(#F2711C, 15%) !important;
$more-darker-yellow: darken(#FBBD08, 15%) !important;
$more-darker-olive: darken(#B5CC18, 15%) !important;
$more-darker-green: darken(#21BA45, 15%) !important;
$more-darker-teal: darken(#00B5AD, 15%) !important;
$more-darker-blue: darken(#2185D0, 15%) !important;
$more-darker-violet: darken(#6435C9, 15%) !important;
$more-darker-purple: darken(#A333C8, 15%) !important;
$more-darker-pink: darken(#E03997, 15%) !important;
$more-darker-brown: darken(#A5673F, 15%) !important;
$more-darker-grey: darken(#767676, 15%) !important;
$more-darker-black: darken(#1B1C1D, 15%) !important;

// extra darker
$extra-darker-red: darken(#DB2828, 20%) !important;
$extra-darker-orange: darken(#F2711C, 20%) !important;
$extra-darker-yellow: darken(#FBBD08, 20%) !important;
$extra-darker-olive: darken(#B5CC18, 20%) !important;
$extra-darker-green: darken(#21BA45, 20%) !important;
$extra-darker-teal: darken(#00B5AD, 20%) !important;
$extra-darker-blue: darken(#2185D0, 20%) !important;
$extra-darker-violet: darken(#6435C9, 20%) !important;
$extra-darker-purple: darken(#A333C8, 20%) !important;
$extra-darker-pink: darken(#E03997, 20%) !important;
$extra-darker-brown: darken(#A5673F, 20%) !important;
$extra-darker-grey: darken(#767676, 20%) !important;
$extra-darker-black: darken(#1B1C1D, 20%) !important;

// darkest
$darkest-red: darken(#DB2828, 25%) !important;
$darkest-orange: darken(#F2711C, 25%) !important;
$darkest-yellow: darken(#FBBD08, 25%) !important;
$darkest-olive: darken(#B5CC18, 25%) !important;
$darkest-green: darken(#21BA45, 25%) !important;
$darkest-teal: darken(#00B5AD, 25%) !important;
$darkest-blue: darken(#2185D0, 25%) !important;
$darkest-violet: darken(#6435C9, 25%) !important;
$darkest-purple: darken(#A333C8, 25%) !important;
$darkest-pink: darken(#E03997, 25%) !important;
$darkest-brown: darken(#A5673F, 25%) !important;
$darkest-grey: darken(#767676, 25%) !important;
$darkest-black: darken(#1B1C1D, 25%) !important;

// girlish

// little sb