// responsive
$mobileWidth: 768px;
$tabletWidth: 991px;
$computerWidth: 1200px;

// basic
$emSize: 14px;

// padding/margin
$padded: 1.5;
$veryPadded: 2.5;
$morePadded: 3.5;
$extraPadded: 4.5;
$mostPadded: 6;