// responsive
$mobileWidth: 768px;
$tabletWidth: 991px;
$computerWidth: 1200px;

// basic
$emSize: 14px;

// padding/margin
$defaultPadded: 1.5;
$veryPadded: 2;
$morePadded: 3;
$extraPadded: 4;
$mostPadded: 5;