//******************** default setting ********************
.border {
	border-style: solid;
	border-width: 1px;
	border-color: #767676;
}

//******************** width ********************
[class*='no border'] {
	border-width: 0 !important;
}

$i: 0;
@while($i <= 20) {
	[class*='#{$i}px wide'].border {
		border-width: $i * 1px !important;
	}

	[class*='#{$i}px top wide'].border {
		border-top-width: $i * 1px !important;
	}

	[class*='#{$i}px right wide'].border {
		border-right-width: $i * 1px !important;
	}

	[class*='#{$i}px bottom wide'].border {
		border-bottom-width: $i * 1px !important;
	}

	[class*='#{$i}px left wide'].border {
		border-left-width: $i * 1px !important;
	}
	$i: $i+1;
}

//******************** color ********************
$color-name: 'border';
$color-css: 'border-color';

@import "../colors/color";


//******************** style ********************
.border {
	&.dotted {
		border-style: dotted;
	}

	&.dashed {
		border-style: dashed;
	}

	&.solid {
		border-style: solid;
	}

	&.groove {
		border-style: groove;
	}

	&.ridge {
		border-style: ridge;
	}

	&.double {
		border-style: double;
	}

	&.inset{
		border-style: inset;
	}

	&.outset {
		border-style: outset;
	}
}
//******************** border radius ********************
// readable
[class*='no radius border'] {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

[class*='round corner'].border {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

[class*='circle shape'] {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

// px
$i: 0;
@while($i <= 100) {
	[class*='#{$i}px radius border'] {
		-webkit-border-radius: $i * 1px !important;
		-moz-border-radius: $i * 1px !important;
		border-radius: $i * 1px !important;
	}
	$i: $i+1;
}