[class*='cursor pointer'] {
	cursor: pointer !important;
}

[class*='cursor auto'] {
	cursor: auto !important;
}

[class*='cursor none'] {
	cursor: none !important;
}

[class*='cursor default'] {
	cursor: default !important;
}

[class*='cursor text'] {
	cursor: text !important;
}

[class*='cursor not allowed'] {
	cursor: not-allowed !important;
}

[class*='cursor inherit'] {
	cursor: inherit !important;
}

// new
[class*='pointer cursor'] {
	cursor: pointer !important;
}

[class*='auto cursor'] {
	cursor: auto !important;
}

[class*='no cursor'] {
	cursor: none !important;
}

[class*='default cursor'] {
	cursor: default !important;
}

[class*='text cursor'] {
	cursor: text !important;
}

[class*='not allowed cursor'] {
	cursor: not-allowed !important;
}

[class*='inherit cursor'] {
	cursor: inherit !important;
}