[class*='cursor pointer'] {
	cursor: pointer !important;
}

[class*='cursor auto'] {
	cursor: auto !important;
}

[class*='cursor none'] {
	cursor: none !important;
}

[class*='cursor default'] {
	cursor: default !important;
}

[class*='cursor text'] {
	cursor: text !important;
}

[class*='cursor not allowed'] {
	cursor: not-allowed !important;
}

[class*='cursor inherit'] {
	cursor: inherit !important;
}