[class*='zero percent opacity'] {
	opacity: 0 !important;
}

[class*='five percent opacity'] {
	opacity: .05 !important;
}

[class*='ten percent opacity'] {
	opacity: .1 !important;
}

[class*='fifteen percent opacity'] {
	opacity: .15 !important;
}

[class*='tweenty percent opacity'] {
	opacity: .2 !important;
}

[class*='tweenty five percent opacity'] {
	opacity: .25 !important;
}

[class*='thirty percent opacity'] {
	opacity: .3 !important;
}

[class*='thirty five percent opacity'] {
	opacity: .35 !important;
}

[class*='forty percent opacity'] {
	opacity: .4 !important;
}

[class*='forty five percent opacity'] {
	opacity: .45 !important;
}

[class*='fifty percent opacity'] {
	opacity: .5 !important;
}

[class*='fifty five percent opacity'] {
	opacity: .55 !important;
}

[class*='sixty percent opacity'] {
	opacity: .6 !important;
}

[class*='sixty five percent opacity'] {
	opacity: .65 !important;
}

[class*='seventy percent opacity'] {
	opacity: .7 !important;
}

[class*='seventy five percent opacity'] {
	opacity: .75 !important;
}

[class*='eighty percent opacity'] {
	opacity: .8 !important;
}

[class*='eighty five percent opacity'] {
	opacity: .85 !important;
}

[class*='ninety percent opacity'] {
	opacity: .9 !important;
}

[class*='ninety five percent opacity'] {
	opacity: .95 !important;
}

[class*='hundred percent opacity'] {
	opacity: 1 !important;
}
