[class*='0% opacity'] {
	opacity: 0 !important;
}

[class*='5% opacity'] {
	opacity: .05 !important;
}

[class*='10% opacity'] {
	opacity: .1 !important;
}

[class*='15% opacity'] {
	opacity: .15 !important;
}

[class*='20% opacity'] {
	opacity: .2 !important;
}

[class*='25% opacity'] {
	opacity: .25 !important;
}

[class*='30% opacity'] {
	opacity: .3 !important;
}

[class*='35% opacity'] {
	opacity: .35 !important;
}

[class*='40% opacity'] {
	opacity: .4 !important;
}

[class*='45% opacity'] {
	opacity: .45 !important;
}

[class*='50% opacity'] {
	opacity: .5 !important;
}

[class*='55% opacity'] {
	opacity: .55 !important;
}

[class*='60% opacity'] {
	opacity: .6 !important;
}

[class*='65% opacity'] {
	opacity: .65 !important;
}

[class*='70% opacity'] {
	opacity: .7 !important;
}

[class*='75% opacity'] {
	opacity: .75 !important;
}

[class*='80% opacity'] {
	opacity: .8 !important;
}

[class*='85% opacity'] {
	opacity: .85 !important;
}

[class*='90% opacity'] {
	opacity: .9 !important;
}

[class*='95% opacity'] {
	opacity: .95 !important;
}

[class*='100% opacity'] {
	opacity: 1 !important;
}
