//******************** all-way direction padding ********************
// basic
[class*='no padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 0 !important;
}

[class*='default padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: $emSize !important;
}

[class*='padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 1.5 * $emSize !important;
}

[class*='very padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 2 * $emSize !important;
}

[class*='more padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 2.5 * $emSize !important;
}

[class*='extra padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 3 * $emSize !important;
}

[class*='most padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 3.5 * $emSize !important;
}

//******************** two-way direction padding ********************
// horizontal
[class*='no horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

[class*='default horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: $emSize !important;
	padding-right: $emSize !important;
}

[class*='padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 1.5 * $emSize !important;
	padding-right: 1.5 * $emSize !important;
}

[class*='very padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2 * $emSize !important;
	padding-right: 2 * $emSize !important;
}

[class*='more padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2.5 * $emSize !important;
	padding-right: 2.5 * $emSize !important;
}

[class*='extra padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3 * $emSize !important;
	padding-right: 3 * $emSize !important;
}

[class*='most padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3.5 * $emSize !important;
	padding-right: 3.5 * $emSize !important;
}
// vertical
[class*='no vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

[class*='default vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: $emSize !important;
	padding-bottom: $emSize !important;
}

[class*='padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 1.5 * $emSize !important;
	padding-bottom: 1.5 * $emSize !important;
}

[class*='very padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2 * $emSize !important;
	padding-bottom: 2 * $emSize !important;
}

[class*='more padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2.5 * $emSize !important;
	padding-bottom: 2.5 * $emSize !important;
}

[class*='extra padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3 * $emSize !important;
	padding-bottom: 3 * $emSize !important;
}

[class*='most padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3.5 * $emSize !important;
	padding-bottom: 3.5 * $emSize !important;
}
//******************** one-way direction ********************
// top
[class*='no top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 0 !important;
}

[class*='default top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: $emSize !important;
}

[class*='padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 1.5 * $emSize !important;
}

[class*='very padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2 * $emSize !important;
}

[class*='more padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2.5 * $emSize !important;
}

[class*='extra padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3 * $emSize !important;
}

[class*='most padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3.5 * $emSize !important;
}
// right
[class*='no right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 0 !important;
}

[class*='default right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: $emSize !important;
}

[class*='padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 1.5 * $emSize !important;
}

[class*='very padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 2 * $emSize !important;
}

[class*='more padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 2.5 * $emSize !important;
}

[class*='extra padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 3 * $emSize !important;
}

[class*='most padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3.5 * $emSize !important;
}
// bottom
[class*='no bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 0 !important;
}

[class*='default bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: $emSize !important;
}

[class*='padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 1.5 * $emSize !important;
}

[class*='very padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 2 * $emSize !important;
}

[class*='more padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 2.5 * $emSize !important;
}

[class*='extra padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 3 * $emSize !important;
}

[class*='most padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 3.5 * $emSize !important;
}

// left
[class*='no left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 0 !important;
}

[class*='default left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: $emSize !important;
}

[class*='padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 1.5 * $emSize !important;
}

[class*='very padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2 * $emSize !important;
}

[class*='more padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2.5 * $emSize !important;
}

[class*='extra padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3 * $emSize !important;
}

[class*='most padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3.5 * $emSize !important;
}

//******************** situational ********************
// mobile
$class-name: 'padding';
@media only screen and (max-width: $mobileWidth) {
	$device-name: 'mobile';
	@import "distance";
}

// tablet
@media only screen and (min-width: $mobileWidth + 1) and (max-width: $tabletWidth) {
	$device-name: 'tablet';
	@import "distance";
}

// portable (mobile & tablet)
@media only screen and (max-width: $tabletWidth) {
	$device-name: 'portable';
	@import "distance";
}

// small screen
@media only screen and (min-width: $tabletWidth + 1) and (max-width: $computerWidth) {
	$device-name: 'small screen';
	@import "distance";
}

// large screen
@media only screen and (min-width: $computerWidth + 1) {
	$device-name: 'large screen';
	@import "distance";
}

// monitor (small & large screen)
@media only screen and (min-width: $tabletWidth + 1) {
	$device-name: 'monitor';
	@import "distance";
}