//******************** all-way direction padding ********************
[class*='no padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: 0 !important;
}

[class*='default padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: $emSize !important;
}

[class*='padded padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: 1.5 * $emSize !important;
}

[class*='very padded padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: 2 * $emSize !important;
}

[class*='more padded padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: 2.5 * $emSize !important;
}

[class*='extra padded padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: 3 * $emSize !important;
}

[class*='most padded padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: 3.5 * $emSize !important;
}

//******************** situational ********************
// mobile
@media only screen and (max-width: $mobileWidth) {
	[class*='mobile no padding'] {
		padding: 0 !important;
	}

	[class*='mobile default padding'] {
		padding: $emSize !important;
	}

	[class*='mobile padded padding'] {
		padding: 1.5 * $emSize !important;
	}

	[class*='mobile very padded padding'] {
		padding: 2 * $emSize !important;
	}

	[class*='mobile more padded padding'] {
		padding: 2.5 * $emSize !important;
	}

	[class*='mobile extra padded padding'] {
		padding: 3 * $emSize !important;
	}

	[class*='mobile most padded padding'] {
		padding: 3.5 * $emSize !important;
	}
	
	[class*='none monitor no padding'] {
		padding: 0 !important;
	}
}

// tablet
@media only screen and (min-width: $mobileWidth + 1) and (max-width: $tabletWidth) {
	[class*='tablet no padding'] {
		padding: 0 !important;
	}
	
	[class*='none monitor no padding'] {
		padding: 0 !important;
	}
}

// mobile & tablet
@media only screen and (min-width: $mobileWidth + 1) and (max-width: $tabletWidth) {
	[class*='tablet no padding'] {
		padding: 0 !important;
	}

	[class*='none monitor no padding'] {
		padding: 0 !important;
	}
}

@media only screen and (min-width: $tabletWidth + 1) and (max-width: $computerWidth) {
	[class*='small monitor no padding'] {
		padding: 0 !important;
	}
}

@media only screen and (min-width: $computerWidth + 1) {
	[class*='large monitor no padding'] {
		padding: 0 !important;
	}
}

@media only screen and (min-width: $tabletWidth + 1) {
	[class*='all monitor no padding'] {
		padding: 0 !important;
	}
}

//******************** two-way direction padding ********************
[class*='no verticle padding'] {
    
}

[class*='no horizontal padding'] {
    
}

//******************** one-way direction ********************