//******************** px/vh padding(none-situational) ********************
$i: 0;
@while($i <= 200) {
	[class*='#{$i}px padding'] {
		padding: $i * 1px !important;
	}

	[class*='#{$i}px top padding'] {
		padding-top: $i * 1px !important;
	}

	[class*='#{$i}px right padding'] {
		padding-right: $i * 1px !important;
	}

	[class*='#{$i}px left padding'] {
		padding-left: $i * 1px !important;
	}

	[class*='#{$i}px bottom padding'] {
		padding-bottom: $i * 1px !important;
	}
	$i: $i+2;
}

$i: 0;
@while($i <= 100) {
	[class*='#{$i}vh padding'] {
		padding: $i * 1vh !important;
	}

	[class*='#{$i}vh top padding'] {
		padding-top: $i * 1vh !important;
	}

	[class*='#{$i}vh right padding'] {
		padding-right: $i * 1vh !important;
	}

	[class*='#{$i}vh left padding'] {
		padding-left: $i * 1vh !important;
	}

	[class*='#{$i}vh bottom padding'] {
		padding-bottom: $i * 1vh !important;
	}
	$i: $i+5;
}

$i: 0;
@while($i <= 100) {
	[class*='#{$i}vw padding'] {
		padding: $i * 1vw !important;
	}

	[class*='#{$i}vw top padding'] {
		padding-top: $i * 1vw !important;
	}

	[class*='#{$i}vw right padding'] {
		padding-right: $i * 1vw !important;
	}

	[class*='#{$i}vw left padding'] {
		padding-left: $i * 1vw !important;
	}

	[class*='#{$i}vw bottom padding'] {
		padding-bottom: $i * 1vw !important;
	}
	$i: $i+5;
}

//******************** all-way direction padding ********************
// basic
[class*='no padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 0 !important;
}

[class*='default padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: $emSize !important;
}

[class*='padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 1.5 * $emSize !important;
}

[class*='very padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 2 * $emSize !important;
}

[class*='more padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 2.5 * $emSize !important;
}

[class*='extra padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 3 * $emSize !important;
}

[class*='most padded padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding: 3.5 * $emSize !important;
}

//******************** two-way direction padding ********************
// horizontal
[class*='no horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

[class*='default horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: $emSize !important;
	padding-right: $emSize !important;
}

[class*='padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 1.5 * $emSize !important;
	padding-right: 1.5 * $emSize !important;
}

[class*='very padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2 * $emSize !important;
	padding-right: 2 * $emSize !important;
}

[class*='more padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2.5 * $emSize !important;
	padding-right: 2.5 * $emSize !important;
}

[class*='extra padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3 * $emSize !important;
	padding-right: 3 * $emSize !important;
}

[class*='most padded horizontal padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3.5 * $emSize !important;
	padding-right: 3.5 * $emSize !important;
}
// vertical
[class*='no vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

[class*='default vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: $emSize !important;
	padding-bottom: $emSize !important;
}

[class*='padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 1.5 * $emSize !important;
	padding-bottom: 1.5 * $emSize !important;
}

[class*='very padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2 * $emSize !important;
	padding-bottom: 2 * $emSize !important;
}

[class*='more padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2.5 * $emSize !important;
	padding-bottom: 2.5 * $emSize !important;
}

[class*='extra padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3 * $emSize !important;
	padding-bottom: 3 * $emSize !important;
}

[class*='most padded vertical padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3.5 * $emSize !important;
	padding-bottom: 3.5 * $emSize !important;
}
//******************** one-way direction ********************
// top
[class*='no top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 0 !important;
}

[class*='default top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: $emSize !important;
}

[class*='padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 1.5 * $emSize !important;
}

[class*='very padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2 * $emSize !important;
}

[class*='more padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 2.5 * $emSize !important;
}

[class*='extra padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3 * $emSize !important;
}

[class*='most padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3.5 * $emSize !important;
}
// right
[class*='no right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 0 !important;
}

[class*='default right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: $emSize !important;
}

[class*='padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 1.5 * $emSize !important;
}

[class*='very padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 2 * $emSize !important;
}

[class*='more padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 2.5 * $emSize !important;
}

[class*='extra padded right padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-right: 3 * $emSize !important;
}

[class*='most padded top padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-top: 3.5 * $emSize !important;
}
// bottom
[class*='no bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 0 !important;
}

[class*='default bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: $emSize !important;
}

[class*='padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 1.5 * $emSize !important;
}

[class*='very padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 2 * $emSize !important;
}

[class*='more padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 2.5 * $emSize !important;
}

[class*='extra padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 3 * $emSize !important;
}

[class*='most padded bottom padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-bottom: 3.5 * $emSize !important;
}

// left
[class*='no left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 0 !important;
}

[class*='default left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: $emSize !important;
}

[class*='padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 1.5 * $emSize !important;
}

[class*='very padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2 * $emSize !important;
}

[class*='more padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 2.5 * $emSize !important;
}

[class*='extra padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3 * $emSize !important;
}

[class*='most padded left padding']:not(.mobile):not(.tablet):not(.monitor):not(.screen):not(.portable) {
	padding-left: 3.5 * $emSize !important;
}

//******************** situational ********************

$class-name: 'padding';

// default
$device-name: 'as default';
@import "paddingNMargin-part";

// mobile
@media only screen and (max-width: $mobileWidth) {
	$device-name: 'on mobile';
	@import "paddingNMargin-part";
}

// tablet
@media only screen and (min-width: $mobileWidth + 1) and (max-width: $tabletWidth) {
	$device-name: 'on tablet';
	@import "paddingNMargin-part";
}

// portable (mobile & tablet)
@media only screen and (max-width: $tabletWidth) {
	$device-name: 'on portable';
	@import "paddingNMargin-part";
}

// small screen
@media only screen and (min-width: $tabletWidth + 1) and (max-width: $computerWidth) {
	$device-name: 'on small screen';
	@import "paddingNMargin-part";
}

// large screen
@media only screen and (min-width: $computerWidth + 1) {
	$device-name: 'on large screen';
	@import "paddingNMargin-part";
}

// monitor (small & large screen)
@media only screen and (min-width: $tabletWidth + 1) {
	$device-name: 'on monitor';
	@import "paddingNMargin-part";
}