//******************** all-way direction padding ********************
[class*='no padding']:not(.mobile):not(.tablet):not(.monitor) {
	padding: 0 !important;
}

[class*='default padding']:not(.mobile):not(.tablet):not(.monitor) {
    
}

[class*='padded padding']:not(.mobile):not(.tablet):not(.monitor) {
    
}

[class*='very padded padding']:not(.mobile):not(.tablet):not(.monitor) {
    
}

[class*='more padded padding']:not(.mobile):not(.tablet):not(.monitor) {
    
}

[class*='extra padded padding']:not(.mobile):not(.tablet):not(.monitor) {
    
}

[class*='most padded padding']:not(.mobile):not(.tablet):not(.monitor) {
    
}

// situational
@media only screen and (max-width: $mobileWidth) {
	[class*='mobile no padding'] {
		padding: 0;
	}
	
	[class*='none monitor no padding'] {
		padding: 0;
	}
}

@media only screen and (min-width: $mobileWidth + 1) and (min-width: $tabletWidth) {
	[class*='tablet no padding'] {
		padding: 0;
	}
	
	[class*='none monitor no padding'] {
		padding: 0;
	}
}

@media only screen and (min-width: $tabletWidth + 1) and (min-width: $computerWidth) {
	[class*='small monitor no padding'] {
		padding: 0;
	}
}

@media only screen and (min-width: $computerWidth + 1) {
	[class*='large monitor no padding'] {
		padding: 0;
	}
}

@media only screen and (min-width: $tabletWidth + 1) {
	[class*='all monitor no padding'] {
		padding: 0;
	}
}

//******************** two-way direction padding ********************
[class*='no verticle padding'] {
    
}

[class*='no horizontal padding'] {
    
}

//******************** one-way direction ********************