//******************** color ********************
$color-name: 'text';
$color-css: 'color';

@import "../colors/color";

//******************** style ********************
.text {
	&.normal {
		font-weight: normal;
		font-style: normal;
	}
	&.bold {
		font-weight: bold;
	}
	&.italic {
		font-style: italic;
	}

	&.uppercase {
		text-transform: uppercase;
	}
	&.lowercase {
		text-transform: lowercase;
	}
	&.capitalize {
		text-transform: capitalize;
	}

	&.upper {
		text-transform: uppercase;
	}

	&.lower {
		text-transform: lowercase;
	}

	&.cap {
		text-transform: capitalize;
	}

}

//******************** size ********************
$i: 0;
@while($i <= 100) {
	[class*='#{$i}px size'].text {
		font-size: $i * 1px;
	}
	$i: $i+1;
}
//******************** aligned ********************
[class*='left aligned'] {
	text-align: left !important;
}

[class*='right aligned'] {
	text-align: right !important;
}

[class*='justify aligned'] {
	text-align: justify !important;
}

[class*='center aligned'] {
	text-align: center !important;
}

