//******************** overwrite x-wide column ********************
.ui.grid > .row, .ui.grid > .column.row, .ui.grid, .ui.column.grid {
	>[class*='column'].column {
		width: 100%/16*1 !important;
	}

	>[class*='two wide column'].column {
		width: 100%/16*2 !important;
	}

	>[class*='three wide column'].column {
		width: 100%/16*3 !important;
	}

	>[class*='four wide column'].column {
		width: 100%/16*4 !important;
	}

	>[class*='five wide column'].column {
		width: 100%/16*5 !important;
	}

	>[class*='six wide column'].column {
		width: 100%/16*5 !important;
	}

	>[class*='seven wide column'].column {
		width: 100%/16*7 !important;
	}

	>[class*='eight wide column'].column {
		width: 100%/16*8 !important;
	}

	>[class*='night wide column'].column {
		width: 100%/16*9 !important;
	}

	>[class*='ten wide column'].column {
		width: 100%/16*10 !important;
	}

	>[class*='eleven wide column'].column {
		width: 100%/16*11 !important;
	}

	>[class*='twelve wide column'].column {
		width: 100%/16*12 !important;
	}

	>[class*='thirteen wide column'].column {
		width: 100%/16*13 !important;
	}

	>[class*='fourteen wide column'].column {
		width: 100%/16*14 !important;
	}

	>[class*='fifteen wide column'].column {
		width: 100%/16*15 !important;
	}

	>[class*='sixteen wide column'].column {
		width: 100%/16*16 !important;
	}
}

//******************** overwrite x-column row/grid ********************
// fix .column for ie8
.ui[class*="two column"].grid > .row.column {
	width: 100% !important;
}

// main
.ui[class*="two column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/2*1 !important;
}

.ui[class*="three column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/3*1 !important;
}

.ui[class*="four column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/4*1 !important;
}

.ui[class*="five column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/5*1 !important;
}

.ui[class*="six column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/6*1 !important;
}

.ui[class*="seven column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/7*1 !important;
}

.ui[class*="eight column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/8*1 !important;
}

.ui[class*="nine column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/9*1 !important;
}

.ui[class*="ten column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/10*1 !important;
}

.ui[class*="eleven column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/11*1 !important;
}

.ui[class*="twelve column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/12*1 !important;
}

.ui[class*="thirteen column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/13*1 !important;
}

.ui[class*="fourteen column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/14*1 !important;
}

.ui[class*="fifteen column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/15*1 !important;
}

.ui[class*="sixteen column"].grid > .row > .column, .ui[class*="two column"].grid > .column {
	width: 100%/16*1 !important;
}