//******************** overwrite x-wide column ********************
.ui.grid > .row, .ui.grid > .column.row, .ui.grid, .ui.column.grid {
	> [class*='two wide column'].column {
		width: 100%/16*2 !important;
	}

	> [class*='three wide column'].column {
		width: 100%/16*3 !important;
	}

	> [class*='four wide column'].column {
		width: 100%/16*4 !important;
	}

	> [class*='five wide column'].column {
		width: 100%/16*5 !important;
	}

	> [class*='six wide column'].column {
		width: 100%/16*5 !important;
	}

	> [class*='seven wide column'].column {
		width: 100%/16*7 !important;
	}

	> [class*='eight wide column'].column {
		width: 100%/16*8 !important;
	}

	> [class*='night wide column'].column {
		width: 100%/16*9 !important;
	}

	> [class*='ten wide column'].column {
		width: 100%/16*10 !important;
	}

	> [class*='eleven wide column'].column {
		width: 100%/16*11 !important;
	}

	> [class*='twelve wide column'].column {
		width: 100%/16*12 !important;
	}

	> [class*='thirteen wide column'].column {
		width: 100%/16*13 !important;
	}

	> [class*='fourteen wide column'].column {
		width: 100%/16*14 !important;
	}

	> [class*='fifteen wide column'].column {
		width: 100%/16*15 !important;
	}

	> [class*='sixteen wide column'].column {
		width: 100%/16*16 !important;
	}
}

//******************** overwrite x-column row/grid ********************
// fix .column for ie8
.ui[class*="two column grid"].grid > .row.column {
	width: 100% !important;
}

// main
.ui[class*="two column grid"].grid > .row > .column, .ui[class*="two column grid"].grid > .column, .ui.grid > [class*="two column row"].row > .column {
	width: 100%/2*1 !important;
}

.ui[class*="three column grid"].grid > .row > .column, .ui[class*="three column grid"].grid > .column, .ui.grid > [class*="three column row"].row > .column {
	width: 100%/3*1 !important;
}

.ui[class*="four column grid"].grid > .row > .column, .ui[class*="four column grid"].grid > .column, .ui.grid > [class*="four column row"].row > .column {
	width: 100%/4*1 !important;
}

.ui[class*="two column grid"].grid > .row > .column, .ui[class*="five column grid"].grid > .column, .ui.grid > [class*="five column row"].row > .column {
	width: 100%/5*1 !important;
}

.ui[class*="six column grid"].grid > .row > .column, .ui[class*="six column grid"].grid > .column, .ui.grid > [class*="six column row"].row > .column {
	width: 100%/6*1 !important;
}

.ui[class*="seven column grid"].grid > .row > .column, .ui[class*="seven column grid"].grid > .column, .ui.grid > [class*="seven column row"].row > .column {
	width: 100%/7*1 !important;
}

.ui[class*="eight column grid"].grid > .row > .column, .ui[class*="eight column grid"].grid > .column, .ui.grid > [class*="eight column row"].row > .column {
	width: 100%/8*1 !important;
}

.ui[class*="nine column grid"].grid > .row > .column, .ui[class*="nine column grid"].grid > .column, .ui.grid > [class*="nine column row"].row > .column {
	width: 100%/9*1 !important;
}

.ui[class*="ten column grid"].grid > .row > .column, .ui[class*="ten column grid"].grid > .column, .ui.grid > [class*="ten column row"].row > .column {
	width: 100%/10*1 !important;
}

.ui[class*="eleven column grid"].grid > .row > .column, .ui[class*="eleven column grid"].grid > .column, .ui.grid > [class*="eleven column row"].row > .column {
	width: 100%/11*1 !important;
}

.ui[class*="twelve column grid"].grid > .row > .column, .ui[class*="twelve column grid"].grid > .column, .ui.grid > [class*="twelve column row"].row > .column {
	width: 100%/12*1 !important;
}

.ui[class*="thirteen column grid"].grid > .row > .column, .ui[class*="thirteen column grid"].grid > .column, .ui.grid > [class*="thirteen column row"].row > .column {
	width: 100%/13*1 !important;
}

.ui[class*="fourteen column grid"].grid > .row > .column, .ui[class*="fourteen column grid"].grid > .column, .ui.grid > [class*="fourteen column row"].row > .column {
	width: 100%/14*1 !important;
}

.ui[class*="fifteen column"].grid > .row > .column, .ui[class*="fifteen column"].grid > .column, .ui.grid > [class*="fifteen column row"].row > .column {
	width: 100%/15*1 !important;
}

.ui[class*="sixteen column"].grid > .row > .column, .ui[class*="sixteen column"].grid > .column, .ui.grid > [class*="sixteen column row"].row > .column {
	width: 100%/16*1 !important;
}

//******************** situational ********************
// mobile
@media only screen and (max-width: $mobileWidth) {
	$device-name: 'mobile';
	@import "grid-part";
}

// tablet
@media only screen and (min-width: $mobileWidth + 1) and (max-width: $tabletWidth) {
	$device-name: 'tablet';
	@import "grid-part";

	// tablet stackable
	.ui[class*='tablet stackable'].grid > .row > .wide.column, .ui[class*='tablet stackable'].grid > .wide.column, .ui[class*='tablet stackable'].grid > .column.grid > .column, .ui[class*='tablet stackable'].grid > .column.row > .column, .ui[class*='tablet stackable'].grid > .row > .column, .ui[class*='tablet stackable'].grid > .column:not(.row), .ui.grid > [class*='tablet stackable'][class*='tablet stackable'].row > .column {
		width: 100% !important;
		margin: 0 0 !important;
		box-shadow: none !important;
		padding: $emSize $emSize !important;
	}
}

// portable (mobile & tablet)
@media only screen and (max-width: $tabletWidth) {
	$device-name: 'portable';
	@import "grid-part";

}

// small screen
@media only screen and (min-width: $tabletWidth + 1) and (max-width: $computerWidth) {
	$device-name: 'small screen';
	@import "grid-part";
}

// large screen
@media only screen and (min-width: $computerWidth + 1) {
	$device-name: 'large screen';
	@import "grid-part";
}

// monitor (small & large screen)
@media only screen and (min-width: $tabletWidth + 1) {
	$device-name: 'monitor';
	@import "grid-part";
}