.ui.divider, hr {
	border-style: solid;
	border-top: 1px solid #dededf; // ie8 fallback
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(34, 36, 38, .15);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	font-size: 1em;
	margin: 14px 0;
	&.lightest {

	}
	&.extra.darker {
		border-top-color: #ebebeb !important;
	}
	&.more.lighter {
		border-top-color: #ebebeb !important;
	}
	&.lighter {
		border-top-color: #ebebeb !important;
	}
	&.light {
		border-top-color: #ebebeb !important;
	}
	// dark
	&.dark {
		border-top-color: #ebebeb !important;
	}
	&.darker {
		border-top-color: #ebebeb !important;
	}
	&.more.darker {
		border-top-color: #ebebeb !important;
	}
	&.extra.darker {
		border-top-color: #ebebeb !important;
	}
	&.darkest {
		border-top-color: #ebebeb !important;
	}
}