.ui.menu {
	&.updown {
		border-left: 0 solid;
		border-right: 0 solid;
		box-shadow: none;
		border-radius: 0;
		margin: 0 auto !important;
	}
	&.transparent {
		background-color: transparent;
	}
	&.borderfree .item:before,
	&.borderfree .item .menu .item:before,
	&.borderfree .item:before {
		background: none !important;
	}
	&.borderfree {
		box-shadow: none;
		border: 0px solid transparent;
	}
}